.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:hover {
  text-decoration: underline;
  color: rgb(221, 217, 217);
}
