.title {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  width: 100%;
  font-size: 12px;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}
