.title {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  position: relative;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  font-size: 12px;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}
