.anime {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 320px 20px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  width: 100%;
  padding: 5px;
  transition: 0.3s ease;
}

@media only screen and (max-width: 600px) {
  .anime {
    margin: auto;
    width: 235px;
  }
}

.anime:hover {
  box-shadow: 1px 1px 15px 1px rgb(122, 122, 122);
  transform: scale(1.03);
}

.anime__image-container {
  grid-area: 1 / 1 / 2 / 3;
  position: relative;
}

.anime__title-container {
  grid-area: 2 / 1 / 3 / 2;
}

.anime__score-container {
  grid-area: 2 / 2 / 3 / 3;
  position: relative;
  border-radius: 1px;
  background-color: rgb(18, 97, 143);
}
