* {
  box-sizing: border-box;
}

.parentContainerAnime {
  width: 100%;
  transition: 0.3s ease;
}

.parentContainerAnime:hover {
  box-shadow: 5px 5px 20px 5px grey;
  transform: scale(1.02);
}

@media only screen and (max-width: 600px) {
  .parentContainerAnime {
    margin: auto;
    width: 235px;
  }
}

.containerAnime {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2.1fr 11fr 1fr;
  height: 360px;
  width: 100%;
}

.titleContainer {
  grid-area: 1 / 1 / 2 / 3;
  background-color: rgba(5, 5, 5);
  position: relative;
}

.imageContainer {
  grid-area: 2 / 1 / 3 / 3;
  position: relative;
}

.scoreContainer {
  grid-area: 3 / 1 / 4 / 2;
  background-color: rgb(27, 27, 27);
  position: relative;
}

.linkContainer {
  grid-area: 3 / 2 / 4 / 3;
  position: relative;
  background-color: rgb(53, 52, 52);
}
