.backToTop {
  position: fixed;
  display: none;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  padding: 5px 5.625px;
  border-radius: 50%;
  transition: 0.3s ease;
}

.backToTop i {
  color: white;
  transition: 0.3s ease;
}

.backToTop:hover i {
  color: rgb(209, 184, 184);
  transform: scale(1.2);
}
