.filter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(55, 55, 55);
  border-radius: 2px;
  padding: 5px;
  padding-left: 8px;
  margin-left: 24px;
  transition: 0.2s ease-out;
  background-color: rgb(16, 16, 16);
  color: rgb(255, 255, 255);
}

.filter:focus {
  background-color: rgb(255, 255, 255);
  color: rgb(16, 16, 16);
}

.filter::placeholder {
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .filter {
    width: 100%;
    margin-left: 4px;
  }
}

@media only screen and (min-width: 600px) {
  .filter {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .filter {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .filter {
    width: 40%;
  }
}

@media only screen and (min-width: 1300px) {
  .filter {
    width: 30%;
  }
}

@media only screen and (min-width: 1500px) {
  .filter {
    width: 27.5%;
  }
}

@media only screen and (min-width: 1800px) {
  .filter {
    width: 25%;
  }
}
