.header {
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  margin: 0;
  padding: 20px;
  background-color: rgb(16, 16, 16);
  color: rgb(255, 255, 255);
  transition: 0.3s linear;

  display: grid;
  grid-template-columns: 1fr 9fr;
}

.header__home-button {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  z-index: 6;
}

.header__home-button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__text {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
  z-index: 5;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 12px;
    padding: 15px;
  }

  .header__text {
    padding-left: 25px;
  }
}
